@page "/admin"
@model FribergCarRentals.Pages.Admins.LoginModel
@{
    ViewData["Title"] = "Login";
    var action = Model.LoginData.Action;
}

@if (action == "login")
{

    <div class="action-container">
        <div>
            <p class="text-danger">@ViewData["fail"]</p>
        </div>

        <div class="action-box">

            <h3>Admin login</h3>

            <form asp-page-handler="Login">
                <div class="form-group">
                    <label asp-for="@Model.LoginData.Email" class="control-label"></label>
                    <input asp-for="@Model.LoginData.Email" class="form-control" />
                    <span asp-validation-for="@Model.LoginData.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.LoginData.Password" class="control-label"></label>
                    <input asp-for="@Model.LoginData.Password" type="password" class="form-control" />
                    <span asp-validation-for="@Model.LoginData.Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Login" class="btn" />
                </div>

            </form>

        </div>

        <div class="">
            <a asp-page="/Index" class="nav-link"> <i class="arrow right"></i> Return Home</a>
        </div>
    </div>
}

@if (action == "logout")
{
    <div class="text-logout">
        <h3>You are now logged out.</h3>

        <a asp-page="/Index" class="nav-link"> <i class="arrow right"></i> Return Home</a>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}