@page
@model FribergCarRentals.Pages.Customers.CreateModel

@{
    ViewData["Title"] = "Create";
    var type = Model.Object.Type;
}

@if (type == "customer")
{
    <h4>Customer</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Object.Customer.FirstName" class="control-label"></label>
                    <input asp-for="Object.Customer.FirstName" class="form-control" />
                    <span asp-validation-for="Object.Customer.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Object.Customer.LastName" class="control-label"></label>
                    <input asp-for="Object.Customer.LastName" class="form-control" />
                    <span asp-validation-for="Object.Customer.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Object.Customer.Email" class="control-label"></label>
                    <input asp-for="Object.Customer.Email" class="form-control" />
                    <span asp-validation-for="Object.Customer.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Object.Customer.Password" class="control-label"></label>
                    <input asp-for="Object.Customer.Password" class="form-control" />
                    <span asp-validation-for="Object.Customer.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" asp-page-handler="Customer" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="List" asp-page-handler="Customers" class="nav-link"> <i class="arrow right"></i> Back to List</a>
    </div>
}

@if (type == "booking")
{
    <div class="action-container">

        <div class="action-box">

            <h2>Create new booking</h2>

            <span>Vehicle</span>
            <input type="text" value="@Model.Object.Vehicle" readonly />

            <span>Daily rate</span>
            <input type="text" value="@Model.Object.Vehicle.DailyRate SEK" readonly />

           

            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Object.Booking.BookingStart" class="control-label"></label>
                    <input asp-for="Object.Booking.BookingStart" id="BookingStart" class="form-control" />
                    <span asp-validation-for="Object.Booking.BookingStart" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Object.Booking.BookingEnd" class="control-label"></label>
                    <input asp-for="Object.Booking.BookingEnd" id="BookingEnd" class="form-control" />
                    <span asp-validation-for="Object.Booking.BookingEnd" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" value="@Model.Object.VehicleId" asp-for="Object.VehicleId" />
                    <input type="submit" value="Book" asp-page-handler="Booking" class="btn btn-primary" />
                </div>
            </form>

            
        </div>

        <div>
            <a asp-page="List" asp-page-handler="Vehicles"> <i class="arrow right"></i> Back to List</a>
        </div>

    </div>

    
}

@if (type == "confirmation")
{
    <h2>Booking confirmation</h2>
    <hr />
    <h4>Your booking has successfully been created!</h4>

    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Object.Booking.BookingStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Object.Booking.BookingEnd)
                </th>
                <th>
                    Vehicle
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Object.Booking.DailyRate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Object.Booking.TotalCost)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Object.Booking.BookingId)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Object.Booking.BookingStart)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Object.Booking.BookingEnd)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Object.Booking.Vehicle.Brand)
                    @Html.DisplayFor(model => model.Object.Booking.Vehicle.Model)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Object.Booking.DailyRate) SEK
                </td>
                <td>
                    @Html.DisplayFor(model => model.Object.Booking.TotalCost) SEK
                </td>
            </tr>

        </tbody>
    </table>
    <br />
    <div>
        <a asp-page="/Customers/Overview" class="nav-link"> <i class="arrow right"></i> Close</a>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

        // Add custom jQuery validation method (NoPastDateAttribute) for client-side validation.
        // Restricts user to select a BookingStart date that is less than DateTime.Now.Date.
        jQuery.validator.addMethod('nopastdate', function (value, element) {
            var currentDate = new Date().setHours(0, 0, 0, 0);
            var inputDate = new Date(value).setHours(0, 0, 0, 0);
            return this.optional(element) || inputDate >= currentDate;
        }, 'Date cannot be in the past.');

        jQuery.validator.unobtrusive.adapters.addBool('nopastdate');

        // Add custom jQuery validation method (EqualOrGreater) for client-side validation.
        // Restricts user to select a BookingEnd date that is less than BookingStart date.
        jQuery.validator.addMethod('equalorgreater', function (value, element, params) {
            var bookingStart = new Date($(params).val());
            var bookingEnd = new Date(value);
            return this.optional(element) || bookingEnd >= bookingStart;
        }, 'Cannot be less than Pickup date.');

        jQuery.validator.unobtrusive.adapters.add('equalorgreater', ['bookingstart'], function (options) {
            options.rules['equalorgreater'] = '#' + options.params['bookingstart'];
            options.messages['equalorgreater'] = options.message;
        });

        // Re-evaluate input field data after changes are made.
        $('#BookingStart, #BookingEnd').change(function () {
            $(this).valid();
        });

    </script>
}
